#bkgd {
    width: 100%;
    padding-top: 20vh;
    padding-bottom: 20vh;
    display: flex;
    justify-content: center;
}

#bkgd-con {
    width: 80%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#bkgd-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#ust_badge {
    height: 13vh;
}