.ddBtn {
    text-decoration: none;
    color: #333;
    font-size: x-small;
    margin: 4vh 1vh 4vh 1vh;
    height: max-content;
    width: max-content;
}


ddBtn:visited{
    all:unset;
}
.ddBtn-area {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vh;
}