

.neumorphy:active{
    all:inherit;
}

.flexbox {
    display: flex;
    justify-content: space-around;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh;
}

#self_img {
    height: 25vh;
    border-radius: 50%;
}

#self-area {
    top: 15vh;
    height: fit-content;
    width: 100%;
    /* margin-left: 10vw; */
    /* margin-right: 10vw; */
    padding-top: 5vh;
    padding-bottom: 5vh;

    position: relative;
}

@media screen and (max-width:600px) {
    .flexbox {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 13vh;
    }
    
}
.selfIntro-txt{
    display: flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction: column;

    padding-left: 5vw;
    padding-right: 5vw;
    color: white;
}

.gradientBkgd {
    background: linear-gradient(270deg, #c566a1, #9faabf, #03ccba);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 25s ease infinite;
    -moz-animation: AnimationName 25s ease infinite;
    animation: AnimationName 25s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

