.neumorphy {
    border-radius: 12px;
    background: #fff;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #eeeeee;
    height: fit-content;
}

.flexbox {
    display: flex;
    justify-content: space-around;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh;
}

#self_img {
    height: 80vh;
    border-radius: 5%;
}

#self-area {
    height: 80vh;
}

#self-text {
    font-size: 3vw;
}