.neumorphy {
    border-radius: 12px;
    background: #fff;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #eeeeee;
    height: fit-content;
}

.flexbox {
    display: flex;
    justify-content: space-around;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh;
}

#self_img {
    height: 30vh;
    border-radius: 5%;
    border-radius: 12px;
    background: #fff;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #eeeeee;
}

#self-area {
    height: 80vh;
    margin: auto;
}

#self-text {
    font-size: 3vw;
}

@media screen and (max-width:600px) {
    .flexbox {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 13vh;
    }
    .self-intro-text {}
}