#head-area {
    border: 0;
    ;
    /* border-radius: 12px;
    background: #fff;
    box-shadow:  5px 5px 10px #bebebe,
                 -5px -5px 10px #eeeeee; */
    margin: 1em;
    padding: 1vh, 2vh, 1vh, 2vh;
}

#btn-div {
    display: flex;
    margin-right: 3em;
    justify-content: space-between;
}

#title {
    font-size: 1.5em;
    font-weight: 500;
    padding-left: 5vw;
    margin: 10px, 20px, 1vw;
}

.nav-btn {
    font-weight: 500;
    border: 0;
    background-color: #fff;
    font-size: medium;
    padding: 1vw;
    margin: 1vw;
}

.nav-btn:hover {
    border-radius: 12px;
    background: #ffffff;
    box-shadow: inset 5px 5px 10px #e3e3e3, inset -5px -5px 10px #ffffff;
}

.nm-container {
    height: 3em;
    background: #ffffff;
    -webkit-box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
}

.flexBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    color: #000;
    padding: 1vh;
    border-radius: 10%;
    font-size: 1rem;
}

.neumorphy {
    border: 0px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #eeeeee;
    height: fit-content;
}

.no-display{
    display: none;
}

@media screen and (max-width:600px) {
    .nav-btn{
        display: none;
    }
    
}

@media screen and (min-width:600px) {
    .icon{
        display: none;
    }
    
    
}