#head-area {
    border: 0;
    z-index: 999;
    align-items: center;
    /* border-radius: 12px;
    background: #fff;
    box-shadow:  5px 5px 10px #bebebe,
                 -5px -5px 10px #eeeeee; */
    padding: 1vh, 2vh, 1vh, 2vh;
}

#btn-div {
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    margin-right: 3em;
    justify-content: space-between;
}

#title {
    padding-left: 5vw;
}

.nav-btn {
    border-radius: 12px;
    font-weight: 500;
    border: 0;
    background-color: #fff;
    font-size: medium;
    padding: 1vw;
    margin: 1vw;

}
a{
    all:unset;
}

.nav-btn:hover {
    border-radius: 12px;
    background: #ffffff;
    box-shadow: inset 5px 5px 10px #e3e3e3, inset -5px -5px 10px #ffffff;
    transition: 0.3s;
}

.nav-btn:visited{
    color: #000;
}

.nm-container {
    height: 3em;
    background: #ffffff;
    -webkit-box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
}

.flexBox {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.icon {
    color: #000;
    border-radius: 10%;
    font-size: 1rem;
    margin: 2vh;
}

.neumorphy {
    border: 0px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #eeeeee;
    height: fit-content;
}

.neumorphy:active {
    transform: perspective(500px) translateZ(-3rem);
}

.no-display {
    display: none;
}

/* display only < 600px */

@media screen and (max-width:600px) {
    .nav-btn {
        display: none;
    }
    #dropdown_meun {
        position: fixed;
        z-index: 9999;
        right: 3vw;
        margin-top: 36vh;
    }
}

/* display if > 600px */

@media screen and (min-width:600px) {
    .icon {
        display: none;
    }
    #dropdown_meun {
        display: none;
    }
}

.show {
    margin-left: 30vw;
    height: 10vh;
    transition: height .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-show {
    height: 0px;
    transition: height .5s;
}

.n-d {
    display: none;
}

.s-d {
    display: flex;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    border-radius: 10px;
}

#sign_icon {
    height: 13vh;
}